<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="Config"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="usp_Update" value="usp_Main_Usedtimes_Update"/>-->
    <add key="usp_Update" value="usp_Main_Update_Usedtimes"/>    
    <add key="Database_Server" value="VNHCMM0MSSQLV1A"/>
    <add key="Database_Name" value="JEMS"/>
    <add key="Email" value="vui_le@jabil.com;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=VNHCMC0SQL81;Database=PUC;User Id=PUC_USER;Password=PUC!@#123;MultipleActiveResultSets=true;"/>-->
    <add name="ConnectionString" connectionString="Data Source=VNHCMC0SQL81;Database=TE_HCS;User Id=TE_HCS_USER;Password=Zxcvbnm123!@;MultipleActiveResultSets=true;"/>
  </connectionStrings>
  <Config>   
    <!--START STATION FOR ING-->
   
    <add key="FVT" value="4" />
    <add key="FC" value="4" />
    <add key="RFC" value="4" />
    <add key="Program Test" value="4" />
    <!--END STATION FOR ING-->
  </Config>
</configuration>