@model SharedObjects.ViewModels.SearchInputModel;
@{
    ViewData["Title"] = "Fixture";
    var customers = ViewData["customers"] as IEnumerable<SharedObjects.ValueObjects.VCustomer>;
}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: auto !important;height: auto !important">
                <div class="portlet-title">
                    <div class="caption col-md-12">
                        <span class="caption-subject font-green-sharp bold uppercase">
                            Maintenance
                        </span>
                    </div>
                    <div class="col-md-2 pull-left">
                        <label class="text-center bold font-green-sharp" for="">Customer</label>

                        <select class="form-control" id="txt-customer-search" style="height: 34px !important; color: mediumvioletred">
                            <option value="">--Please Select--</option>

                            @foreach (var item in customers.OrderByDescending(c => c.CustId).ToList())
                            {
                                <option value=@item.CustId>@item.CustName</option>
                            }
                        </select>
                    </div>                  
                    <div class="col-md-2 pull-left">
                        <label asp-for="MachineName" class="text- bold font-green-sharp"></label>
                        <select class="form-control" id="txt-machineName-search" style="height: 34px !important; color: mediumvioletred">

                            <option value="">--Please Select Customer--</option>

                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="text-center bold font-green-sharp" for="">Serial Number</label>
                        <label class="control-label"></label>
                        <input id="txt-serialNumber-search" class="form-control col-md-3" style="color: mediumvioletred" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="text-center bold font-green-sharp" for="">Part Number</label>
                        <label class="control-label"></label>
                        <input id="txt-partNumber-search" class="form-control col-md-3" style="color: mediumvioletred" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="text-center bold font-green-sharp" for="">Fixture Description</label>
                        <label class="control-label"></label>
                        <input id="txt-description-search" class="form-control col-md-3" style="color: mediumvioletred" />
                    </div>

                    <div class="form-group col-md-12">
                        <a class="btn btn-success" id="btn-search">Search</a>
                        <a class="btn btn-success" id="btn-reset">Reset</a>
                    </div>
                </div>

                <div id="tbl-main" class="table-responsive-lg">

                </div>
                <div class="pagination" id="pagination">
                </div>
                <div class="portlet light table-responsive col-md-12" id="detail" style="display:none; min-height: auto !important;">
                    <div class="caption col-md-12">
                        <span id="lbl-detail-title" class="caption-subject font-green-sharp bold uppercase">

                        </span>
                    </div>
                    <div id="tbl-detail" class="table-responsive col-md-12">

                    </div>
                    <div class="caption col-md-12">
                        <span id="lbl-log-title" class="caption-subject font-green-sharp bold uppercase">

                        </span>
                    </div>
                    <div id="tbl-log" class="table-responsive col-md-12">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@section Script{
    <script src="~/js/main.js"></script>
    <script src="~/js/main-add.js"></script>
    <script src="~/js/main-delete.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
}
