<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="Config"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="usp_Update" value="usp_Main_Usedtimes_Update"/>-->
    <add key="usp_Update" value="usp_Main_Update_Usedtimes"/>
    <!--<add key="Workcell" value="13,14"/>
    <add key="TestRouteStep" value="BFT,RFT,CONFIG,DTT,CST,APTC"/>-->
    <add key="Database_Server" value="VNHCMM0MSSQLV1A"/>
    <add key="Database_Name" value="JEMS"/>
    <add key="Email" value="vui_le@jabil.com;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=VNHCMC0SQL81;Database=PUC;User Id=PUC_USER;Password=PUC!@#123;MultipleActiveResultSets=true;"/>-->
    <add name="ConnectionString" connectionString="Data Source=VNHCMC0SQL81;Database=TE_HCS;User Id=TE_HCS_USER;Password=Zxcvbnm123!@;MultipleActiveResultSets=true;"/>
  </connectionStrings>
  <Config>
    <!--Route Step Config-->
<!--START STATION FOR SWI-->
    <!--<add key="BFT" value="14"/>
    <add key="RFT" value="14"/>
    <add key="CONFIG" value="14"/>
    <add key="DTT" value="14"/>
    <add key="APTC" value="14"/>
    <add key="CST" value="14" />-->
<!--END STATION FOR SWI-->

    
<!--START STATION FOR SOLAR EDGE-->
    <add key="HIPOT" value="27" />
    <add key="FT-AAC" value="27" />
    <add key="FT" value="27" />
    <add key="Final Test" value="27" />
    <add key="EOL-TEST" value="27" />
    <add key="Program Test" value="27" />
<!--END STATION FOR SOLAR EDGE-->

    
<!--START STATION FOR ING-->
    <add key="HIPOT" value="27" />
    <add key="FT-AAC" value="27" />
    <add key="FT" value="27" />
    <add key="Final Test" value="27" />
    <add key="EOL-TEST" value="27" />
    <add key="Program Test" value="27" />
<!--END STATION FOR SOLAR EDGE-->
    
    
    <!--machineName config-->
    <!--<add key="01-ANT-001" value="27" />-->
    <!--<add key="09-EOL-517" value="27" />
    <add key="09-EOL-502" value="27" />-->
    <!--<add key="VNJBL-OD-APT016-1" value="14" />
    <add key="VNJBL-OD-CAT140" value="14" />
    <add key="VNJBL-OD-CAT144" value="14" />
    <add key="VNJBL-OD-MNP102-1" value="14" />-->
  </Config>
</configuration>